/* screen - impressum */

.impressum {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 4019px;
  min-width: 1920px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.impressum .impressum-EXDK4C {
  background-color: transparent;
  height: 54px;
  left: 269px;
  letter-spacing: 0.00px;
  line-height: 55px;
  position: absolute;
  text-align: center;
  top: 312px;
  white-space: nowrap;
  width: 240px;
}

.impressum .avatechnikinh-simeon-EXDK4C {
  background-color: transparent;
  height: 3223px;
  left: 264px;
  letter-spacing: 0.00px;
  line-height: 40px;
  position: absolute;
  text-align: left;
  top: 530px;
  width: calc(100.00% - 565px);
}

.impressum .span0-fn1iQ2 {
}

.impressum .span1-fn1iQ2 {
}

.impressum .span2-fn1iQ2 {
}

.impressum .span3-fn1iQ2 {
}

.impressum .span4-fn1iQ2 {
}

.impressum .span5-fn1iQ2 {
}

.impressum .span6-fn1iQ2 {
}

.impressum .span7-fn1iQ2 {
}

.impressum .span8-fn1iQ2 {
}

.impressum .span9-fn1iQ2 {
}

.impressum .span10-fn1iQ2 {
}

.impressum .span11-fn1iQ2 {
}

.impressum .span12-fn1iQ2 {
}

.impressum .span13-fn1iQ2 {
}

.impressum .span14-fn1iQ2 {
}

.impressum .span15-fn1iQ2 {
}

.impressum .span16-fn1iQ2 {
}

.impressum .gruppe-75-EXDK4C {
  background-color: transparent;
  cursor: pointer;
  height: 75px;
  object-fit: cover;
  position: fixed;
  right: 51px;
  top: 71px;
  width: 183px;
}

.impressum .gruppe-93-EXDK4C {
  background-color: transparent;
  bottom: 0px;
  height: 95px;
  left: 0px;
  position: absolute;
  width: 100%;
}

.impressum .rechteck-108-hBWEwt {
  background-color: var(--black);
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.impressum .avanidis-hBWEwt {
  background-color: transparent;
  bottom: calc(42.11% - 16px);
  height: 38px;
  left: calc(41.06% - 60px);
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 147px;
}

.impressum .impressum-hBWEwt {
  background-color: transparent;
  bottom: calc(42.11% - 16px);
  height: 38px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  right: calc(47.34% - 71px);
  text-align: left;
  white-space: nowrap;
  width: 150px;
}

.impressum .faq-hBWEwt {
  background-color: transparent;
  bottom: calc(42.11% - 16px);
  cursor: pointer;
  height: 38px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  right: calc(38.93% - 21px);
  text-align: left;
  white-space: nowrap;
  width: 55px;
}

.impressum .x-hBWEwt {
  background-color: transparent;
  bottom: calc(42.11% - 16px);
  height: 38px;
  left: calc(47.04% - 6px);
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 13px;
}

.impressum .x-Ho30fe {
  background-color: transparent;
  bottom: calc(42.11% - 16px);
  height: 38px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  right: calc(42.11% - 5px);
  text-align: left;
  white-space: nowrap;
  width: 13px;
}

.impressum .gruppe-157-EXDK4C {
  background-color: transparent;
  height: 54px;
  left: -10px;
  position: fixed;
  top: 0px;
  width: calc(100.00% + 50px);
}

.impressum .gruppe-42-xMIiH8 {
  background-color: transparent;
  height: 54px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.impressum .gruppe-41-VvKfRY {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 1px;
  width: 100%;
}

.impressum .gruppe-5-QGmsjL {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.impressum .x367502-paxlkg-681-TWuxZP {
  background-color: transparent;
  border-radius: 10px;
  height: calc(100.00% + 18px);
  left: -9px;
  object-fit: cover;
  position: absolute;
  top: -6px;
  width: calc(100.00% + 18px);
}

.impressum .gruppe-2-VvKfRY {
  background-color: transparent;
  height: 100%;
  left: 10px;
  position: absolute;
  top: 0px;
  width: calc(100.00% - 50px);
}

.impressum .rechteck-1-4DdfWx {
  background-color: var(--new-car);
  box-shadow: 0px 3px 6px #00000029;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.impressum .montag-freitag-4DdfWx {
  background-color: transparent;
  bottom: calc(43.94% - 9px);
  height: 21px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  right: calc(24.68% - 32px);
  text-align: left;
  white-space: nowrap;
  width: 129px;
}

.impressum .samstag-4DdfWx {
  background-color: transparent;
  bottom: calc(43.94% - 9px);
  height: 21px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  right: 219px;
  text-align: left;
  white-space: nowrap;
  width: 74px;
}

.impressum .x800-uhr-4DdfWx {
  background-color: transparent;
  bottom: calc(41.18% - 8px);
  height: 20px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  right: calc(17.96% - 20px);
  text-align: left;
  white-space: nowrap;
  width: 110px;
}

.impressum .x900-uhr-4DdfWx {
  background-color: transparent;
  bottom: calc(41.18% - 8px);
  height: 20px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  right: 102px;
  text-align: left;
  white-space: nowrap;
  width: 110px;
}

.impressum .time-4DdfWx {
  background-color: transparent;
  height: 19px;
  position: absolute;
  right: calc(30.49% - 6px);
  top: calc(49.59% - 10px);
  width: 19px;
}

.impressum .gruppe-1-CyPsMe {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.impressum .pfad-3-4H1XPl {
  background-color: transparent;
  height: 100%;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.impressum .gruppe-174-xMIiH8 {
  background-color: transparent;
  bottom: calc(43.44% - 10px);
  height: 24px;
  left: 172px;
  position: absolute;
  width: 164px;
}

.impressum .x49-152-29545989-ZpMso3 {
  background-color: transparent;
  cursor: pointer;
  height: 20px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  right: -2px;
  text-align: left;
  top: 3px;
  white-space: nowrap;
  width: 136px;
}

.impressum .iconfinder_ic_local_phone_48px_352510-ZpMso3 {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 24px;
}

.impressum .pfad-1-SnA6AR {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.impressum .pfad-2-SnA6AR {
  background-color: transparent;
  height: calc(100.00% - 6px);
  left: 3px;
  object-fit: cover;
  position: absolute;
  top: 3px;
  width: calc(100.00% - 6px);
}
/* screen - impressum-1 */

.impressum-1 {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 4419px;
  min-width: 1200px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.impressum-1 .impressum-RLMIUZ {
  background-color: transparent;
  height: 54px;
  left: calc(28.02% - 67px);
  letter-spacing: 0.00px;
  line-height: 55px;
  position: absolute;
  text-align: center;
  top: 312px;
  white-space: nowrap;
  width: 240px;
}

.impressum-1 .avatechnikinh-simeon-RLMIUZ {
  background-color: transparent;
  height: 3672px;
  left: calc(46.73% - 297px);
  letter-spacing: 0.00px;
  line-height: 40px;
  position: absolute;
  text-align: left;
  top: 526px;
  width: 635px;
}

.impressum-1 .span0-c4WKLh {
}

.impressum-1 .span1-c4WKLh {
}

.impressum-1 .span2-c4WKLh {
}

.impressum-1 .span3-c4WKLh {
}

.impressum-1 .span4-c4WKLh {
}

.impressum-1 .span5-c4WKLh {
}

.impressum-1 .span6-c4WKLh {
}

.impressum-1 .span7-c4WKLh {
}

.impressum-1 .span8-c4WKLh {
}

.impressum-1 .span9-c4WKLh {
}

.impressum-1 .span10-c4WKLh {
}

.impressum-1 .span11-c4WKLh {
}

.impressum-1 .span12-c4WKLh {
}

.impressum-1 .span13-c4WKLh {
}

.impressum-1 .span14-c4WKLh {
}

.impressum-1 .span15-c4WKLh {
  color: var(--black);
  font-family: var(--font-family-baselneue-medium);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 500;
}

.impressum-1 .span16-c4WKLh {
}

.impressum-1 .gruppe-75-RLMIUZ {
  background-color: transparent;
  cursor: pointer;
  height: 75px;
  object-fit: cover;
  position: absolute;
  right: 51px;
  top: 59px;
  width: 183px;
}

.impressum-1 .gruppe-93-RLMIUZ {
  background-color: transparent;
  bottom: 0px;
  height: 95px;
  left: 0px;
  position: absolute;
  width: 100%;
}

.impressum-1 .rechteck-108-OAAkOO {
  background-color: var(--black);
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.impressum-1 .gruppe-106-OAAkOO {
  background-color: transparent;
  bottom: calc(49.15% - 18px);
  height: 36px;
  left: calc(50.00% - 242px);
  position: absolute;
  width: 484px;
}

.impressum-1 .avanidis-VHNezJ {
  background-color: transparent;
  height: 38px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 8.33%;
  white-space: nowrap;
  width: 147px;
}

.impressum-1 .impressum-VHNezJ {
  background-color: transparent;
  cursor: pointer;
  height: 38px;
  letter-spacing: 0.00px;
  line-height: 30px;
  pointer-events: auto;
  position: absolute;
  right: calc(35.92% - 54px);
  text-align: left;
  top: 8.33%;
  transition: all 0.2s ease;
  white-space: nowrap;
  width: 150px;
}

.impressum-1 .impressum-VHNezJ:hover {
  filter: grayscale(100%);
}

.impressum-1 .faq-VHNezJ {
  background-color: transparent;
  cursor: pointer;
  height: 38px;
  left: calc(100.47% - 55px);
  letter-spacing: 0.00px;
  line-height: 30px;
  pointer-events: auto;
  position: absolute;
  text-align: left;
  top: 8.33%;
  transition: all 0.2s ease;
  white-space: nowrap;
  width: 55px;
}

.impressum-1 .faq-VHNezJ:hover {
  filter: grayscale(100%);
}

.impressum-1 .x-VHNezJ {
  background-color: transparent;
  height: 38px;
  left: calc(36.79% - 5px);
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 8.33%;
  white-space: nowrap;
  width: 13px;
}

.impressum-1 .x-a5gBJ1 {
  background-color: transparent;
  height: 38px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  right: calc(17.33% - 2px);
  text-align: left;
  top: 8.33%;
  white-space: nowrap;
  width: 13px;
}

.impressum-1 .gruppe-42-RLMIUZ {
  background-color: transparent;
  height: 29px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 100%;
}

.impressum-1 .gruppe-2-gxRGPT {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.impressum-1 .rechteck-1-2Iprd2 {
  background-color: var(--new-car);
  box-shadow: 0px 3px 6px #00000029;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.impressum-1 .gruppe-108-2Iprd2 {
  background-color: transparent;
  height: 24px;
  left: 162px;
  position: absolute;
  top: 3px;
  width: 13.84%;
}

.impressum-1 .gruppe-116-fxj7vA {
  background-color: transparent;
  cursor: pointer;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.impressum-1 .iconfinder_ic_local_phone_48px_352510-LpGXtH {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 24px;
}

.impressum-1 .pfad-1-CgOVPi {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.impressum-1 .pfad-2-CgOVPi {
  background-color: transparent;
  height: calc(100.00% - 6px);
  left: 3px;
  object-fit: cover;
  position: absolute;
  top: 3px;
  width: calc(100.00% - 6px);
}

.impressum-1 .x49-152-29545989-LpGXtH {
  background-color: transparent;
  height: calc(100.00% - 4px);
  left: 32px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 4px;
  white-space: nowrap;
  width: 136px;
}

.impressum-1 .gruppe-111-2Iprd2 {
  background-color: transparent;
  height: 19px;
  position: absolute;
  right: 56px;
  top: calc(50.00% - 10px);
  width: 487px;
}

.impressum-1 .gruppe-110-vM6SiH {
  background-color: transparent;
  bottom: 1.16%;
  height: 19px;
  left: 5.72%;
  position: absolute;
  width: 48.55%;
}

.impressum-1 .montag-freitag-gG3kdH {
  background-color: transparent;
  height: 21px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 7.89%;
  white-space: nowrap;
  width: 54.52%;
}

.impressum-1 .x800-uhr-gG3kdH {
  background-color: transparent;
  height: 20px;
  left: 54.35%;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 10.53%;
  white-space: nowrap;
  width: 46.49%;
}

.impressum-1 .gruppe-109-vM6SiH {
  background-color: transparent;
  bottom: 1.16%;
  height: 19px;
  position: absolute;
  right: 0px;
  width: 38.16%;
}

.impressum-1 .samstag-lR2ETc {
  background-color: transparent;
  height: 21px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  right: 112px;
  text-align: left;
  top: 7.89%;
  white-space: nowrap;
  width: 74px;
}

.impressum-1 .x900-uhr-lR2ETc {
  background-color: transparent;
  height: calc(100.00% + 1px);
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  right: -2px;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: 110px;
}

.impressum-1 .time-vM6SiH {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 19px;
}

.impressum-1 .gruppe-1-c4sCBU {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.impressum-1 .pfad-3-giYU4i {
  background-color: transparent;
  height: 100%;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 100%;
}
/* screen - impressum-2 */

.impressum-2 {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 4419px;
  min-width: 767px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.impressum-2 .impressum-4sisQ8 {
  background-color: transparent;
  height: 54px;
  left: calc(28.26% - 68px);
  letter-spacing: 0.00px;
  line-height: 55px;
  position: absolute;
  text-align: center;
  top: 312px;
  white-space: nowrap;
  width: 240px;
}

.impressum-2 .avatechnikinh-simeon-4sisQ8 {
  background-color: transparent;
  height: 3672px;
  left: 62px;
  letter-spacing: 0.00px;
  line-height: 40px;
  position: absolute;
  text-align: left;
  top: 526px;
  width: calc(100.00% - 132px);
}

.impressum-2 .span0-a2p0sp {
}

.impressum-2 .span1-a2p0sp {
}

.impressum-2 .span2-a2p0sp {
}

.impressum-2 .span3-a2p0sp {
}

.impressum-2 .span4-a2p0sp {
}

.impressum-2 .span5-a2p0sp {
}

.impressum-2 .span6-a2p0sp {
}

.impressum-2 .span7-a2p0sp {
}

.impressum-2 .span8-a2p0sp {
}

.impressum-2 .span9-a2p0sp {
}

.impressum-2 .span10-a2p0sp {
}

.impressum-2 .span11-a2p0sp {
}

.impressum-2 .span12-a2p0sp {
}

.impressum-2 .span13-a2p0sp {
}

.impressum-2 .span14-a2p0sp {
}

.impressum-2 .span15-a2p0sp {
  color: var(--black);
  font-family: var(--font-family-baselneue-medium);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 500;
}

.impressum-2 .span16-a2p0sp {
}

.impressum-2 .gruppe-75-4sisQ8 {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  object-fit: cover;
  position: absolute;
  right: 27px;
  top: 56px;
  width: 137px;
}

.impressum-2 .gruppe-93-4sisQ8 {
  background-color: transparent;
  bottom: 0px;
  height: 95px;
  left: 0px;
  position: absolute;
  width: 100%;
}

.impressum-2 .rechteck-108-btzCcM {
  background-color: var(--black);
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.impressum-2 .gruppe-106-btzCcM {
  background-color: transparent;
  bottom: calc(49.15% - 18px);
  height: 36px;
  left: calc(50.00% - 242px);
  position: absolute;
  width: 484px;
}

.impressum-2 .avanidis-yy6xfm {
  background-color: transparent;
  height: 38px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 8.33%;
  white-space: nowrap;
  width: 147px;
}

.impressum-2 .impressum-yy6xfm {
  background-color: transparent;
  cursor: pointer;
  height: 38px;
  letter-spacing: 0.00px;
  line-height: 30px;
  pointer-events: auto;
  position: absolute;
  right: calc(35.92% - 54px);
  text-align: left;
  top: 8.33%;
  transition: all 0.2s ease;
  white-space: nowrap;
  width: 150px;
}

.impressum-2 .impressum-yy6xfm:hover {
  filter: grayscale(100%);
}

.impressum-2 .faq-yy6xfm {
  background-color: transparent;
  cursor: pointer;
  height: 38px;
  left: calc(100.47% - 55px);
  letter-spacing: 0.00px;
  line-height: 30px;
  pointer-events: auto;
  position: absolute;
  text-align: left;
  top: 8.33%;
  transition: all 0.2s ease;
  white-space: nowrap;
  width: 55px;
}

.impressum-2 .faq-yy6xfm:hover {
  filter: grayscale(100%);
}

.impressum-2 .x-yy6xfm {
  background-color: transparent;
  height: 38px;
  left: calc(36.79% - 5px);
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 8.33%;
  white-space: nowrap;
  width: 13px;
}

.impressum-2 .x-y4FFtE {
  background-color: transparent;
  height: 38px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  right: calc(17.33% - 2px);
  text-align: left;
  top: 8.33%;
  white-space: nowrap;
  width: 13px;
}

.impressum-2 .gruppe-42-4sisQ8 {
  background-color: transparent;
  height: 29px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 100%;
}

.impressum-2 .gruppe-2-YBWGi1 {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.impressum-2 .rechteck-1-qhwNDW {
  background-color: var(--new-car);
  box-shadow: 0px 3px 6px #00000029;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.impressum-2 .gruppe-108-qhwNDW {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 34px;
  position: absolute;
  top: 3px;
  width: 21.23%;
}

.impressum-2 .gruppe-117-DScVGE {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.impressum-2 .iconfinder_ic_local_phone_48px_352510-4SJ2s7 {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 24px;
}

.impressum-2 .pfad-1-mQ26le {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.impressum-2 .pfad-2-mQ26le {
  background-color: transparent;
  height: calc(100.00% - 6px);
  left: 3px;
  object-fit: cover;
  position: absolute;
  top: 3px;
  width: calc(100.00% - 6px);
}

.impressum-2 .x49-152-29545989-4SJ2s7 {
  background-color: transparent;
  height: calc(100.00% - 4px);
  left: 29px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 4px;
  white-space: nowrap;
  width: 136px;
}

.impressum-2 .gruppe-111-qhwNDW {
  background-color: transparent;
  height: 19px;
  position: absolute;
  right: 21px;
  top: calc(50.00% - 10px);
  width: 472px;
}

.impressum-2 .gruppe-110-9fTUej {
  background-color: transparent;
  bottom: 1.16%;
  height: 19px;
  left: 5.48%;
  position: absolute;
  width: 50.09%;
}

.impressum-2 .montag-freitag-FiqnAU {
  background-color: transparent;
  height: 21px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 7.89%;
  white-space: nowrap;
  width: 54.52%;
}

.impressum-2 .x800-uhr-FiqnAU {
  background-color: transparent;
  height: 20px;
  left: 54.35%;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 10.53%;
  white-space: nowrap;
  width: 46.49%;
}

.impressum-2 .gruppe-109-9fTUej {
  background-color: transparent;
  bottom: 1.16%;
  height: 19px;
  position: absolute;
  right: 0px;
  width: 39.38%;
}

.impressum-2 .samstag-mJAz1V {
  background-color: transparent;
  height: 21px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  right: 112px;
  text-align: left;
  top: 7.89%;
  white-space: nowrap;
  width: 74px;
}

.impressum-2 .x900-uhr-mJAz1V {
  background-color: transparent;
  height: calc(100.00% + 1px);
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  right: -2px;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: 110px;
}

.impressum-2 .time-9fTUej {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 19px;
}

.impressum-2 .gruppe-1-x5Oax5 {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.impressum-2 .pfad-3-OI0dIg {
  background-color: transparent;
  height: 100%;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 100%;
}
/* screen - impressum-3 */

.impressum-3 {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 4015px;
  min-width: 375px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.impressum-3 .impressum-knProc {
  background-color: transparent;
  color: var(--black);
  font-family: var(--font-family-krete-medium);
  font-size: 45px;
  font-style: normal;
  font-weight: 500;
  height: 58px;
  left: 40px;
  letter-spacing: 0.00px;
  line-height: 55px;
  position: absolute;
  text-align: center;
  top: 214px;
  white-space: nowrap;
  width: 250px;
}

.impressum-3 .avatechnikinh-simeon-knProc {
  background-color: transparent;
  color: var(--black);
  font-family: var(--font-family-krete);
  font-size: var(--font-size-xxs);
  font-weight: 400;
  height: 3440px;
  left: 40px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 9.73%;
  width: calc(100.00% - 78px);
}

.impressum-3 .span0-jzR8RN {
}

.impressum-3 .span1-jzR8RN {
}

.impressum-3 .span2-jzR8RN {
}

.impressum-3 .span3-jzR8RN {
}

.impressum-3 .span4-jzR8RN {
}

.impressum-3 .span5-jzR8RN {
}

.impressum-3 .span6-jzR8RN {
}

.impressum-3 .span7-jzR8RN {
}

.impressum-3 .span8-jzR8RN {
}

.impressum-3 .span9-jzR8RN {
}

.impressum-3 .span10-jzR8RN {
}

.impressum-3 .span11-jzR8RN {
}

.impressum-3 .span12-jzR8RN {
}

.impressum-3 .span13-jzR8RN {
}

.impressum-3 .span14-jzR8RN {
}

.impressum-3 .span15-jzR8RN {
}

.impressum-3 .span16-jzR8RN {
}

.impressum-3 .gruppe-75-knProc {
  background-color: transparent;
  cursor: pointer;
  height: 34px;
  object-fit: cover;
  position: absolute;
  right: 10px;
  top: 29px;
  width: 85px;
}

.impressum-3 .gruppe-93-knProc {
  background-color: transparent;
  bottom: 0px;
  height: 45px;
  left: 0px;
  position: absolute;
  width: 100%;
}

.impressum-3 .rechteck-108-839auS {
  background-color: var(--black);
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.impressum-3 .gruppe-106-839auS {
  background-color: transparent;
  bottom: calc(50.00% - 9px);
  height: 18px;
  left: calc(50.00% - 118px);
  position: absolute;
  width: 236px;
}

.impressum-3 .avanidis-RqAYRv {
  background-color: transparent;
  height: 20px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  top: 8.33%;
  white-space: nowrap;
  width: 75px;
}

.impressum-3 .impressum-RqAYRv {
  background-color: transparent;
  cursor: pointer;
  height: 20px;
  letter-spacing: 0.00px;
  line-height: 15px;
  pointer-events: auto;
  position: absolute;
  right: calc(34.97% - 27px);
  text-align: left;
  top: 8.33%;
  transition: all 0.2s ease;
  white-space: nowrap;
  width: 76px;
}

.impressum-3 .impressum-RqAYRv:hover {
  filter: grayscale(100%);
}

.impressum-3 .faq-RqAYRv {
  background-color: transparent;
  cursor: pointer;
  height: 20px;
  left: calc(100.97% - 29px);
  letter-spacing: 0.00px;
  line-height: 15px;
  pointer-events: auto;
  position: absolute;
  text-align: left;
  top: 8.33%;
  transition: all 0.2s ease;
  white-space: nowrap;
  width: 29px;
}

.impressum-3 .faq-RqAYRv:hover {
  filter: grayscale(100%);
}

.impressum-3 .x-RqAYRv {
  background-color: transparent;
  height: 20px;
  left: calc(37.24% - 3px);
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  top: 8.33%;
  white-space: nowrap;
  width: 7px;
}

.impressum-3 .x-aRkgNY {
  background-color: transparent;
  height: 20px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  right: calc(17.31% - 1px);
  text-align: left;
  top: 8.33%;
  white-space: nowrap;
  width: 7px;
}

.impressum-3 .gruppe-42-knProc {
  background-color: transparent;
  height: 18px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 100%;
}

.impressum-3 .gruppe-2-OJ7NGW {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.impressum-3 .rechteck-1-H8blsH {
  background-color: var(--new-car);
  box-shadow: 0px 3px 6px #00000029;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.impressum-3 .gruppe-108-H8blsH {
  background-color: transparent;
  cursor: pointer;
  height: 10px;
  left: 26px;
  position: absolute;
  top: 3px;
  width: 21.32%;
}

.impressum-3 .iconfinder_ic_local_phone_48px_352510-hPATh5 {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 10px;
}

.impressum-3 .pfad-1-OtHytC {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.impressum-3 .pfad-2-OtHytC {
  background-color: transparent;
  height: calc(100.00% - 3px);
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: calc(100.00% - 3px);
}

.impressum-3 .x49-152-29545989-hPATh5 {
  background-color: transparent;
  height: calc(100.00% + 2px);
  letter-spacing: 0.00px;
  line-height: 8px;
  position: absolute;
  right: -2px;
  text-align: left;
  top: 1px;
  white-space: nowrap;
  width: 69px;
}

.impressum-3 .gruppe-111-H8blsH {
  background-color: transparent;
  height: 10px;
  position: absolute;
  right: 13px;
  top: calc(40.93% - 4px);
  width: 236px;
}

.impressum-3 .gruppe-109-KHZGsv {
  background-color: transparent;
  height: 10px;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 39.04%;
}

.impressum-3 .samstag-Xuw6ia {
  background-color: transparent;
  height: 12px;
  letter-spacing: 0.00px;
  line-height: 8px;
  position: absolute;
  right: 54px;
  text-align: left;
  top: 10.00%;
  white-space: nowrap;
  width: 38px;
}

.impressum-3 .x900-uhr-Xuw6ia {
  background-color: transparent;
  height: calc(100.00% + 2px);
  letter-spacing: 0.00px;
  line-height: 8px;
  position: absolute;
  right: -2px;
  text-align: left;
  top: 1px;
  white-space: nowrap;
  width: 56px;
}

.impressum-3 .gruppe-120-KHZGsv {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 130px;
}

.impressum-3 .gruppe-110-WVRSpM {
  background-color: transparent;
  height: 10px;
  left: 9.37%;
  position: absolute;
  top: 0px;
  width: 90.63%;
}

.impressum-3 .montag-freitag-cXk9mR {
  background-color: transparent;
  height: 12px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 8px;
  position: absolute;
  text-align: left;
  top: 10.00%;
  white-space: nowrap;
  width: 55.93%;
}

.impressum-3 .x800-uhr-cXk9mR {
  background-color: transparent;
  height: 12px;
  left: 54.24%;
  letter-spacing: 0.00px;
  line-height: 8px;
  position: absolute;
  text-align: left;
  top: 10.00%;
  white-space: nowrap;
  width: 47.46%;
}

.impressum-3 .time-WVRSpM {
  background-color: transparent;
  height: calc(100.00% - 1px);
  left: 0px;
  position: absolute;
  top: 1px;
  width: 9px;
}

.impressum-3 .gruppe-1-1bAns3 {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.impressum-3 .pfad-3-W1WJJj {
  background-color: transparent;
  height: 100%;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 100%;
}
@media screen and (max-width: 766px) {
  .screen.impressum { 
    display: none;
   }
  .screen.impressum-1 { 
    display: none;
   }
  .screen.impressum-2 { 
    display: none;
   }
}
@media screen and (min-width: 767px) and (max-width: 1199px) {
  .screen.impressum { 
    display: none;
   }
  .screen.impressum-1 { 
    display: none;
   }
  .screen.impressum-3 { 
    display: none;
   }
}
@media screen and (min-width: 1200px) and (max-width: 1919px) {
  .screen.impressum { 
    display: none;
   }
  .screen.impressum-2 { 
    display: none;
   }
  .screen.impressum-3 { 
    display: none;
   }
}
@media screen and (min-width: 1920px) {
  .screen.impressum-1 { 
    display: none;
   }
  .screen.impressum-2 { 
    display: none;
   }
  .screen.impressum-3 { 
    display: none;
   }
}